node_modules/
.next/
out/
build/
dist/

# Hardhat
artifacts/
cache/
typechain-types/

# verification scratch
.zkverify/
*.log

# env
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-error.log*
.vercel
next-env.d.ts
tsconfig.tsbuildinfo
